:root {
    --backgroundColorBox: #213197;
    --backgroundColor: #838383;
}

@font-face {
    font-family: 'Final Fantasy', sans-serif;
    src: url(https://fonts.cdnfonts.com/css/final-fantasy);
}

header {
    display: flex;
    width: 100%; 
    color: #fff;
    background-color: var(--backgroundColorBox);
    justify-content: center;
    border-radius: 5px;
    border-width: 2px;
    border: 2px solid #fff;
    box-shadow: black 0px 2px 8px 0px;
}

header h1 {
    font-size: 75px;
}

.banner-img {
    background-image: url("../images/banner-image.png");
    width: 40%;
    margin: 5px;
    height: auto;
    
}

body {
    background-color: var(--backgroundColor);
}

a {
    color: #fff;
}

#timer,
#stats {
    margin: 10px;
    padding: 5px;
    color: #fff;
    background-color: var(--backgroundColorBox);
    border-radius: 5px;
    border-width: 2px;
    border: 2px solid #fff;
    box-shadow: black 0px 2px 8px 0px;
}

#timer {
    width: 10%;
}

section {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#starter-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 74%;
    height: 59vh;
    font-size: 25px;
    color: #fff;
    margin-left: 13%;
    background-color: var(--backgroundColorBox);
    border-radius: 5px;
    border-width: 2px;
    border: 2px solid #fff;
    box-shadow: black 0px 2px 8px 0px;
}

#question,
#option-container,
#outcome {
    align-items: start;
    margin-left: 25%;
}

#option-container {
    display: flex;
    flex-direction: column;
}

.btn {
    color: #fff;
    background-color: var(--backgroundColor);
    height: 40px;
    width: 20%;
    margin-top: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen {
    
}